@charset "UTF-8";
#menuSnb {
	display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;
	height: 60px; padding: 0 20px; border-bottom: 2px solid #596271; margin-bottom: 10px;
}
#menuSnb p span {text-transform: uppercase;}
#menuSnb li {float: left;}
#menuSnb button {
	outline: none; background-color: #fff; border: 0; cursor: pointer;
	font-size: 16px; position: relative; margin-left: 50px;
}
#menuSnb button::after {
	content: ""; position: absolute; left: 50%; top: 105%; width: 0; height: 3px;
	background-color: #9dc970; transform: translateY(-50%);
	transition-duration: 0.3s;
}
#menuSnb button::before {
	content: ""; position: absolute; right: 50%; top: 105%; width: 0; height: 3px;
	background-color: #9dc970; transform: translateY(-50%);
	transition-duration: 0.3s;
}
#menuSnb button:hover::after { width: 50%; }
#menuSnb button:hover::before { width: 50%; }
#menuSnb button.on::after { width: 50%; }
#menuSnb button.on::before { width: 50%; }
#updateMenuWrap {
	display: flex; flex-flow: row wrap; justify-content: flex-end; align-items: center;
	padding: 0 20px 10px;
}
#updateMenuWrap input[type=submit] {
	outline: none; background-color: #a0a0a0; border: 0; border-radius: 5px; cursor: pointer;
	padding: 5px 20px; margin-left: 10px; transition-duration: 0.3s; font-weight: bold;
	font-size: 16px;
}
#updateMenuWrap input[type=submit]:hover {
	background-color: #9dc970;
}
#itemWrap {
	display: grid; gap: 10px; grid-template-columns : auto auto auto;
	padding: 5px 20px;
}
#itemWrap .item {
	display: flex; flex-flow: row nowrap; justify-content : space-between; align-items : center;
	position: relative; border: 1px solid #dfe1dc; height: 150px;
}
#itemWrap .item .imgWrap {
	width: 40%;
}
#itemWrap .item .imgWrap img { display: block; margin: 0 auto; }
#itemWrap .item ul {
	width: 60%; background-color: #dfe1dc; height: 100%; box-sizing: border-box;
	padding: 20px; display: flex; flex-flow: column nowrap; justify-content: center;
}
#itemWrap .menuName {
	font-weight: bold; font-size: 16px; margin-bottom: 10px;
}
#itemWrap .menuId input[type=radio] {display: none;}
#itemWrap .menuId label {
	position: absolute; left: -3px; top: -3px; width: 100%; height: 100%;
	cursor: pointer; transition-duration: 0.5s;
}
#itemWrap .menuId input[type=radio]:checked + label {
	border : 3px solid #9dc970;
}