@charset "UTF-8";

section {position:relative ;width: 60%; height: 100%; margin: auto;}
#userWrap h2 {line-height: 70px; font-size: 25px; font-weight: bold; width: 100%;
	border-bottom: 2px solid #596271; text-indent: 10px; margin: 0 auto;}

#userFormWrap{margin-top: 20px; position: relative;}
.submitim{outline: none; border: 0; background-color: #dfe2dc; padding: 10px 10px; width: 80px;
    margin: 3.3px 10px 10px 0; font-size: 14px; float: right; transition-duration: 0.2s;}
.submitim:hover{background-color: #9dc970;}
#SearchWrap{border: 1px solid #596271; border-radius: 30px; width: 500px; position: absolute; top: 60px;
        left: 50%; transform: translate(-50%,0); z-index: 9999;}
#SearchWrap input[type=submit] {width: 80px; height: 35px; line-height: 17px; border-radius: 50px;}
#SearchWrap > select{outline: none; border: 0; background-color: #eaeaea;
    height: 30px; margin-left: 10px; margin-bottom:5px; line-height:30px; text-align: center; border-radius: 15px 0 0 15px;}
#SearchWrap input[type=text]{margin-left: 10px; margin-bottom:11px; outline: none; border: 0; background-color:#f4f4f4;
	margin-top: 10px; width: 300px; height: 30px;}
#SearchWrap input[type=submit]{margin: 8px 6px 0 0;}

#userlistWrap{position: relative; top: 80px; width: 100%;}
#userlist{width: 100%;}
#userlist tr th { height: 30px; line-height: 30px; text-align: left; padding: 10px;
	background-color: #596271; color: #fff; border: 2px solid #fff; text-align: center;}
.hname{width: 14%;}
.hphone{width: 21%;}
.hbirth{width: 21%;}
.hpoint{width: 21%;}
.hregDate{width: 23%;}

.name{text-align: center;}
.phone{text-align: center;}
.birth{text-align: center;}
.point{text-align: right; padding-right:15px;}
.regDate{text-align: center;}

#userlist  tr{position: relative; box-sizing: border-box; width: 100%; height: 50px;}
#userlist tr td{text-indent:10px;}
.ordernumin {display:none;}
.name label{padding: 0; top: 0; left: 0; position:absolute; width: 100%; height: 100%; box-sizing: border-box;}
.name label:hover{border:2px solid #9dc970;}
/*.active{background-color: #9dc970;}*/

#userlist tr:nth-child(even){box-sizing: border-box; background-color:#eaeaea;}
/*#userlist tr.active{background-color:#9dc970;}*/
#userlist tr:nth-child(odd){box-sizing: border-box; background-color:#f4f4f4;}


/*#SearchWrap{position: relative; border: 1px solid #596271; border-radius: 30px; width: 500px;}
	#userlistWrap{position: relative; top: 10px; width: 100%;}*/
@media all and (min-width: 1475px){
	#SearchWrap{position: relative; top:0; left:28%; border: 1px solid #596271; border-radius: 30px; width: 500px;}
	#userlistWrap{position: relative; top: 10px; width: 100%;}
}