@charset "UTF-8";

section{height: 100%; border: 5px solid #9dc970; box-sizing: border-box;}
section h3{line-height: 70px; font-size: 25px; font-weight: bold; width: 90%;
	border-bottom: 2px solid #596271; text-indent: 10px; margin: 0 auto; text-align: center;
    
}
#addUserWrap h1 {position: absolute; top: 5px; }
#addUserForm { margin-top: 30px;}
#addUserFormWrap{display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;
	height: calc(100% - 72px);}

.title{width: 100px; line-height: 30px; text-align: left; padding: 10px;
	background-color: #596271; color: #fff; border-bottom: 1px solid #fff;}
#addUserForm td {background-color: #f4f4f4; border-bottom: 1px solid #fff;
	padding: 10px;}    
input[type=text]{outline: none; border: 0; background-color: #f4f4f4;
	width: 250px; height: 45px;}
#buttonWrap{position: relative;height: 90px;}
#buttonWrap p{font-size: 13px; display: block; margin-left: 15%; color: #7ddf24; font-weight: 800;}
#buttonWrap input[type=submit] {outline: none; border: 0; background-color: #dfe2dc; padding: 10px 80px;
	font-size: 14px; margin-top: 10px; float: right; transition-duration: 0.2s;}
#buttonWrap input[type=submit]:hover{background-color: #9dc970;}
