@charset "UTF-8";
body, html {height: 100%;}
#indexContent {
	display: flex; flex-flow: row nowrap; justify-content: center;
	width: 100%; min-width: 1320px; height: calc(100% - 150px);
}
#indexContent .headerMent {
	font-size: 18px; width: 95%; border-bottom: 2px solid #596271; margin: 0 auto;
	line-height: 60px; font-weight: normal;
}
#salesItemWrap {
	display : grid; grid-template-columns : auto auto auto auto; gap : 20px;
	flex-basis: 50%; padding: 20px;
}
#salesItemWrap input[name=orderNumber] {
	display: none;
}
#salesItemWrap input[name=orderNumber] + label {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	border-radius: 15px; transition-duration: 0.3s;
}
#salesItemWrap input[name=orderNumber] + label:hover {
	box-shadow: 0 0 10px #596271;
}
#salesItemWrap .in_out {padding-top: 10px; color: #596271;}
#salesItemWrap .salesItem {
	background-color: #eeefed; padding: 15px; border-radius: 15px;
	font-size: 14px; position: relative;
}
#salesItemWrap .salesNumber { 
	color: #72a53f; font-weight: 700; font-size: 16px;
}
#salesItemWrap .salesMenu { padding: 10px 0 5px; font-weight: bold; color: #596271; }
#salesItemWrap .salesDate { padding-top: 10px; color: #596271; font-size: 12px;}
#orderCompletedContent {
	background-color : #dfe1dc; width: 500px; position: relative;
	padding: 0 10px 10px 10px; box-sizing: border-box;
}
#orderCompletedContent p { float: left; line-height: 30px; padding: 0 5px; }
#orderCompletedContent .shortening {
	width: 220px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
#orderCompletedContent ul {padding-top: 20px;}
#orderCompletedContent li {
	line-height: 30px; height: 30px; margin-bottom: 5px;
	transition-duration: 0.2s; position: relative; border-radius: 10px;
}
#orderCompletedContent input[type=radio] + label {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	cursor: pointer;
}
#orderCompletedContent ul li:hover {
	background-color: #596271; color: #bbda9c;
}
input[value="정산하기"] {
	position: absolute; right: 20px; top: 10px; transition-duration: 0.3s;
	outline: none; padding: 10px 15px; border: 0; border-radius: 10px;
	background-color: #596271; font-size: 16px; color: #fff; font-weight: bold;
}
input[value="정산하기"]:hover {background-color: #9dca6f;}