@charset "UTF-8";

#salesWrap{ width: 60%; height: 100%; margin: 0 auto; }
#salesWrap h2{line-height: 70px; font-size: 25px; font-weight: bold; width: 100%;
    text-align: center; border-bottom: 2px solid #596271; text-indent: 10px; margin: 0 auto 20px;}
/*버튼리스트*/
#salesbtnWrap{width: 100%;}
#timebtn{width: 50%;margin: 0 auto 30px; text-align: center;}
#timebtn button{outline: none; border: 0; background-color: #dfe2dc; padding: 10px 10px; width: 80px;
    margin:0 30px; font-size: 14px; transition-duration: 0.2s;}
#timebtn button:hover{background-color: #9dc970;}


/*테이블*/
#salesListWrap{width: 100%;}
#salesListtable table{width:100%; margin:0 auto;}
#salesListtable table tr{ box-sizing: border-box; width: 100%; height: 20px;}
#salesListtable table tr th{height: 20px; line-height: 20px; text-align: left; padding: 10px;
	background-color: #596271; color: #fff;  text-align: center; border: 1px solid #fff; border-top:0; border-left:0;}
#salesListtable table tr td{ border: 1px solid #fff; border-top:0; border-left:0; height: 40px; line-height: 40px;}
.regDate{width: 30%;}
.orders{width: 10%;}
.tAmount{width: 20%;}
.tusePoint{width: 20%;}
.tPrice{width: 20%;}
.regDatein{text-align: center;}
.tordersin{text-align: center;}
.tAmountin{text-align: right;  padding-right: 15px;}
.tusePointin{text-align: right; padding-right: 15px;}
.tPricein{text-align: right; padding-right: 15px}
#salesListtable table tr .tPrice{width: 18%; border-right:0;}
#salesListtable table tr td:last-child{border-right:0;}
#salesListtable table tr:last-child{border-bottom: 0;}
#salesListtable table tr:last-child td{border-bottom: 0;}
#salesListtable table tr:nth-child(even){box-sizing: border-box; background-color:#eaeaea;}
#salesListtable table tr:nth-child(odd){box-sizing: border-box; background-color:#f4f4f4;}